
body{ background-color:#C17777;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.weather-app{
    background:#9D5E85;
    max-width: 600px;
    margin: 45px auto;
padding:30px;
box-shadow: 0 30px 50px rgb(65, 50, 100, 0.08) ;
border-radius: 16px;

}